<%- include('header', {pagetitle: "Bookings"}) -%>
<div class="row" style="padding-top: 20px;">
    <pre style="color: white">
        This is where you can find the bookings.
    </pre>

</div>

<% var booking_array = [
    {id : "0000001",
        room_id: "002",
        name : "James Panda",
        time : "09.01 -10.02"},
    {id : "0000002",
        room_id: "001",
        name : "James Panda",
        time : "10.14 -10.17"},
    {id : "0000003",
        room_id: "002",
        name : "Earl Grey",
        time : "11.01 -11.12"}
];%>

<div class="row">
    <div class = "col-sm">
        <table class = "table-dark table-hover" cellpadding="10" border="3" style="border-color: #923877; background-color: #10153a; color: #FFFFFF">
            <caption style="color: #10153A">List of bookings</caption>
            <thead>
            <tr style="color: #FFFFFF">
                <td>
                    <h5>Booking ID</h5>
                </td>
                <td>
                    <h5>Room ID</h5>
                </td>
                <td>
                    <h5>Name</h5>
                </td>
                <td>
                    <h5>Time of stay</h5>
                </td>
                <td>

                </td>

            </tr>
            </thead>


<% for(key in booking_array) { var one_booking = booking_array[key]; %>


                <tr style="color: #FFFFFF">
                    <td>
                        <%= one_booking.id %>
                    </td>
                    <td>
                        <%= one_booking.room_id %>
                    </td>
                    <td>
                        <%= one_booking.name %>
                    </td>
                    <td>
                        <%= one_booking.time %>
                    </td>
                    <td>
                        <a href="/bookings/mod/<%= one_booking.id %>"><i class="far fa-edit" style="color: #FFFFFF"></i>
                            <a href="/bookings"><i class="far fa-calendar-times" style="color: #FFFFFF" ></i>
                    </td>


                </tr>

            <%}%>

        </table>

    </div>
    <div class = "col-sm">
        <a href = "/bookings/add"><button type="button" class="btn btn-primary btn-lg" style="background-color: #923877; border-color: #923877">New booking</button>

    </div>

</div>

</div>

</body>
</html>