<%- include('header', {pagetitle: "Bookings"}) -%>
<div class="row" style="padding-top: 20px;">
    <pre style="color: white">
        This is where you can find the bookings.
    </pre>

</div>

<div class="row">
    <div class = "col-sm">
        <table class = "table-dark table-hover" cellpadding="10" border="3" >

            <thead>
            <tr style="background-color: #d1e8e2; color:#116466;">
                <td>
                    <h5>Booking ID</h5>
                </td>
                <td>
                    <h5>Room ID</h5>
                </td>
                <td>
                    <h5>Name</h5>
                </td>
                <td>
                    <h5>Start date</h5>
                </td>
                <td>
                    <h5>End date</h5>
                </td>
                <td>

                </td>

            </tr>
            </thead>


<% for(key in booking_array) { var one_booking = booking_array[key]; %>


            <tr style="background-color: #116466; color:#d1e8e2;">
                    <td>
                        <%= one_booking.id %>
                    </td>
                    <td>
                        <%= one_booking.room_id %>
                    </td>
                    <td>
                        <%= one_booking.name %>
                    </td>
                    <td>
                        <%= one_booking.start_date %>
                    </td>
                <td>
                    <%= one_booking.end_date %>
                </td>
                    <td>
                        <a href="/bookings/mod/<%= one_booking.id %>"><i class="far fa-edit" style="color: #FFFFFF"></i>
                            <a href="/bookings"><i class="far fa-calendar-times" style="color: #FFFFFF" ></i>
                    </td>


                </tr>

            <%}%>

        </table>

    </div>
    <div class = "col-sm">
        <a href = "/bookings/add"><button type="button" class="btn btn-primary btn-lg" style="background-color: #d9b08c; border-color: #d9b08c; color: #2c3531">New booking</button>

    </div>

</div>

</div>

</body>
</html>