<%- include('header', {pagetitle: "Bookings"}) -%>
<div class="row" style="padding-top: 20px;">
    <pre style="color: white">
        This is where you can find the bookings.
    </pre>

</div>

<div class="row">
    <div class = "col-sm">
        <table class = "table-dark table-hover" cellpadding="10" border="3" style ="border-color: #011ffd" >

            <thead>
            <tr style="background-color: #ffffff; color:#011ffd;">
                <td>
                    <h5>Room</h5>
                </td>
                <td>
                    <h5>Guest</h5>
                </td>
                <td>
                    <h5>Start date</h5>
                </td>
                <td>
                    <h5>End date</h5>
                </td>
                <td>

                </td>

            </tr>
            </thead>


<% for(key in booking_array) { var one_booking = booking_array[key]; %>


            <tr style="background-color: #ffffff; color: #000000;">
                    <td>
                        <%= one_booking._room %>
                    </td>
                    <td>
                        <%= one_booking._guest %>
                    </td>
                    <td>
                        <%= one_booking.start_date %>
                    </td>
                <td>
                    <%= one_booking.end_date %>
                </td>
                    <td>
                        <a href="/bookings/mod/<%= one_booking.id %>"><i class="far fa-edit" style="color: #011ffd"></i>
                            <a href="/bookings"><i class="far fa-calendar-times" style="color: #011ffd" ></i>
                    </td>


                </tr>

            <%}%>

        </table>

    </div>
    <div class = "col-sm">
        <a href = "/bookings/add"><button type="button" class="btn btn-primary btn-lg" style="background-color: #FF2281; border-color: #ff2281; color: #FFFFFF">New booking</button>

    </div>

</div>

</div>

</body>
</html>