<%- include('header', {pagetitle: "Rooms"}) -%>
<div class="row" style="padding-top: 20px;">
    <pre style="color: white">
        This is where you can find the rooms.
    </pre>

</div>


<% var room_array = [
    {id : "001",
        cleaning: "NO",
        category : "$$$"},
    {id : "002",
        cleaning: "YES",
        category : "$$$$"},
    {id : "003",
        cleaning: "NO",
        category : "$"}
];%>


<div class="row">
    <div class = "col-sm">
    <table class = "table-dark table-hover" cellpadding="10" border="3">
        <thead>
        <tr style="background-color: #d1e8e2; color:#116466;">
            <td>
                <h5>Room ID</h5>
            </td>
            <td>
                <h5>Under cleaning</h5>
            </td>
            <td>
                <h5>Category</h5>
            </td>
            <td>

            </td>





        </tr>
        </thead>




        <% for(key in room_array) { var one_room = room_array[key]; %>


        <tr style="background-color: #116466; color:#d1e8e2;">
            <td>
                <%= one_room.id %>
            </td>
            <td>
                <%= one_room.cleaning %>
            </td>
            <td>
                <%= one_room.category%>
            </td>
            <td>
                <a href="/rooms/mod/<%= one_room.id %>"><i class="far fa-edit" style="color: #FFFFFF" ></i>
                    <a href="/rooms"><i class="far fa-trash-alt" style="color: #FFFFFF"></i>
            </td>

        </tr>
        <%}%>

    </table>

</div>
    <div class = "col-sm">
        <a href = "rooms/add"><button type="button" class="btn btn-primary btn-lg" style="background-color: #d9b08c; border-color: #d9b08c; color: #2c3531">New room</button>

    </div>

</div>

</body>
</html>